body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.repository-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.repository-card {
  width: calc(50% - 20px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.repository-card.forked {
  margin-left: auto;
}

.repository-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.repository-name {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.repository-description {
  color: #555;
  margin-bottom: 10px;
}

.repository-language {
  font-size: 0.9em;
  color: #777;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.repository-language .language-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4caf50; /* Green color */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.forked-indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #777;
  font-size: 0.8em;
}

#pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#page-info {
  margin: 0 10px;
}

.filter-section {
  margin-top: 20px;
}
